@model EmployeeView
@{
	ViewBag.Title = "Details";
}

<table class="table table-bordered">
	<tr>
		<td>Surname</td>
		<td>@Model.SurName</td>
	</tr>
	<tr>
		<td>Name</td>
		<td>@Model.FirstName</td>
	</tr>
	<tr>
		<td>Age</td>
		<td>@Model.Age</td>
	</tr>
	<tr>
		<td>Position</td>
		<td>@Model.Position</td>
	</tr>
</table>
@Html.ActionLink("Back to list", "Index")

