@model IEnumerable<EmployeeView>
@{
	ViewBag.Title = "Employee list";
}

<hr/>
@if (User.IsInRole("Administrator"))
{
	<a asp-action="Edit" class="btn btn-success"> Add </a>
}
<hr/>
<table class="table table-bordered">
	@foreach (var item in Model)
	{
		<tr>
			<td>
			@if (User.IsInRole("Administrator"))
			{
				<a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
			}
			<td>@item.SurName</td>
			<td>@item.FirstName</td>
			<td>@item.Age</td>
			<td><a asp-action="Details" asp-controller="Employees" asp-route-id="@item.Id">Details</a></td>
			<td>
			@if (User.IsInRole("Administrator"))
			{
				<a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-cut"></i></a>
			}
			</td>
		</tr>
	}
</table>
