@model List<WebStore.Models.Order.UserOrderViewModel>
@{
	ViewBag.Title = "My orders";
	Layout = "_ProfileLayout";
}
<h2> @ViewBag.Title </h2>
<table class="table table-bordered">
	<tr>
		<th>
			Number
		</th>
		<th>
			Name
		</th>
		<th>
			Adress
		</th>
		<th>
			Phone
		</th>
		<th>
			Order price
		</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td> @item.Id </td>
			<td> @item.Name </td>
			<td> @item.Address </td>
			<td> @item.Phone </td>
			<td> @item.TotalSum.ToString("") </td>
		</tr>
	}
</table>